@{
    var vm = GetStateViewModel();
}

<FluentIcon
    Value="@vm.Icon"
    Color="@vm.Color"
    Class="severity-icon" />

<span>@vm.Text</span>

<UnreadLogErrorsBadge
    UnviewedErrorCounts="UnviewedErrorCounts"
    Resource="@Resource" />
