@page "/extension/{*TargetUrl}"

@using Aspire.Dashboard.Extensibility

@inject IExtensionRegistry ExtensionRegistry

@if (!_isLoaded)
{
    <!-- TODO center this on screen -->
    <FluentProgressRing />
}
else if (_extensionUrl != null)
{
    <iframe src="@_extensionUrl" style="width:100%; height:100%;"></iframe>
}
else
{
    <h3>Page not found</h3>
}

@code {
    private string? _extensionUrl;
    private bool _isLoaded;

    [Parameter]
    public string? TargetUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO what happens if the URL contains extra levels?

        if (TargetUrl is not null)
        {
            _extensionUrl = await ExtensionRegistry.GetExtensionUrlAsync(TargetUrl, CancellationToken.None);
            _isLoaded = true;
        }
    }
}
